.homepage{
    width: 100vw;
    height: 100vh;
    border: 1px solid blue;
}

.homepage_nav{
    flex: 0.25;
   border: 5px solid rgb(39, 156, 49);

  }

  .homepage_timeline{
    flex: 0.75;
    border: 1px solid orange;

  }