.app-layout {
    display: flex;
    min-height: 100vh;
    
    .main-content {
      flex-grow: 1;
      padding: $spacing-large;
      max-width: $content-max-width;
      background-color: #fff;
      border: 2px solid #ccc;
    }
  }